/*
 * Blatantly ripped off from the WordPress admin area error pages
 */
html {
    background: #f9f9f9;
}
body {
    background: #fff;
    color: #333;
    font-family: sans-serif;
    margin: 2em auto;
    padding: 1em 2em;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #dfdfdf;
    max-width: 700px;
}
#sopa-page {
    margin-top: 50px;
}
#sopa-page p {
    font-size: 14px;
    line-height: 1.5;
    margin: 25px 0 20px;
}
#sopa-page code {
    font-family: Consolas, Monaco, monospace;
}
ul li {
    margin-bottom: 10px;
    font-size: 14px ;
}
a {
    color: #21759B;
    text-decoration: none;
}
a:hover {
    color: #D54E21;
}
iframe {
    display:block;
    margin:0 auto;
}
